*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  line-height: 1.5;
  background-color: #F7F7F9;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  font-size: 62.5%;
  height: 100%;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --green: 40, 167, 69;
  --blue: 59, 93, 231;
  --blue-text: #3b5de7;
  --green-text: #218838;
}

/* Nav Section */

.navbar {  
  position: sticky;
  top: 0;
  display: flex;
  color: white;
  background-color: rgb(33, 32, 32);
  z-index: 10;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
}

.navbar-l {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 1rem;
}
.logo {
  width: 100px;
  height: 40px;
}
.navbar-l ul,
.navbar-r ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* padding: 1rem; */
  /* flex-direction: row; */
}

.navbar-l ul li,
.navbar-r ul li {
  padding: 1.5rem 1.5rem;
}

.navbar-l ul li a,
.navbar-r ul li a {
  color: white;
}

.buyPlan,
.logIn {
  display: inline-block;
  border-radius: 50px;
  padding: 0.4rem 0.8rem;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  /* background-color: #f1fdf5; */
  transition: 300ms;
}
.buyPlan {
  background: rgba(var(--green), 0.2);
  border: 1px solid var(--green-text);
  width: 10rem;
}
.logIn {
  background: rgba(var(--blue), 0.1);
  color: var(--blue-text);
  border: 1px solid var(--blue-text);
  width: 7rem;
}
.buyPlan:hover {
  background: var(--green-text);
  color: white;
  box-shadow: 2px 2px 10px rgba(248, 243, 243, 0.2);
}
.logIn:hover {
  background: var(--blue-text);
  color: white;
  box-shadow: 2px 2px 10px rgba(248, 243, 243, 0.2);
}

@media screen and (max-width: 950px) {
  .navbar-l ul {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .logo {
    width: 100px;
  }
  .buyPlan,
  .logIn {
    border-radius: 10px;
    padding: 0.2rem 0.6rem;
    font-size: 1rem;
    font-weight: 500;
  }
  .buyPlan {
    width: 8rem;
  }
  .logIn {
    width: 5rem;
  }
  .navbar-r ul li {
    padding: 0.8rem 0.6rem;
  }
}

/* Container Section */
.container {
  max-width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #F7F7F9;
}

/* Login Page */

.model{
  display:none;
}
.createmodal{
  display:none;
}
.resetPassword{
  display:none;
}
.modal,.createmodal,.resetPassword {
  display:none;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 

}


/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 450px;
  max-width: 450px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
}

/* The Close Button */
.close,.createclose,.resetclose {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


.close,.createclose,.resetclose:hover,
.close,.createclose,.resetclose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  
}

@media only screen and (max-width: 950px) {
  .modal,.createmodal,.resetPassword {
    position: fixed; 
    z-index: 1; 
    padding-top:50%;
  }
  
  .modal-content {
    background-color: #fefefe;
       width: 300px;
   
  }
}

.login-section{
  width: 450px;
  max-width: 450px; 
  display: block;
}

.form-title{
  text-align: center;
  margin-bottom: 1.5rem;
}
.form-message{
  font-size: small;
  text-align: center;
  margin-bottom: .8rem;
}
.input-container{
  margin-bottom: .8rem;
}

.form-input{
  width: 100%;
  display: block;
  padding: 0.8rem;
  background: rgb(234, 234, 234);
  outline: none;
  border-radius: 1rem;
  border: 1px solid #dddddd;
}

.form-button{
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  width: 100%;
  padding: .8rem;
  border-radius: 1rem;
  border: none;
  font-size: large;
  background: rgb(45, 52, 255);
  color: white;
  cursor: pointer;
  letter-spacing: 3px;
}

.form-button:hover{
  background:rgb(18, 20, 85) ;
}

.form-text{
  text-align: center;

}

.form-link{
  display: inline-block;
  text-decoration: none;
  color: rgb(100, 100, 100);
  font-size: 0.9rem;
  margin-top: 1rem;
  
}
.form-link:hover{
  cursor: pointer;
  color: #3b5de7; ;
}

.form-input:focus{
  border-color: rgb(45, 52, 255);
  background: white;
}

.footer-section {
  background: #fff;
  border-top: 1px solid #e8e9eb;
  width: 100%;
  bottom: 1px;
  padding: 8px;
  color: #222428;
  z-index: 15;
}

.ft-section {
  position: sticky;
  bottom: 0;
  margin-top: auto;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.social-inner {
  display: flex;
}
.footer-social .social-link {
  border-radius: 30px;
  border: 1px solid #e8e9eb;
  line-height: 29px;
  min-height: 38px;
  padding: 3px 7px 3px 5px;
  position: relative;
  /* transition: all .3s ease-in; */
  transition: 300ms;
}

.social-link:hover {
  transform: translateY(-1px);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
}
.social-inner img {
  width: 30px;
  height: 30px;
}
.sub-text {
  margin-left: 5px;
  font-size: 12px;
  color: #63686d !important;
}
.social-link:nth-child(6) {
  font-weight: 5000;
  background-color: #cdd6e6;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin: 0 auto;
  z-index: 100;
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.footer-link a,
.footer-link span {
  padding: 0 0.8rem;
}

.mobile-bottom-nav {
  display: none;
}

@media only screen and (max-width: 950px) {
  .footer-section,
  .footer-link {
    display: none;
  }

  .mobile-bottom-nav {
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 -2px 5px -2px #333;
    height: 65px;
    padding: 0 5px;
    transform: translateZ(0);
    z-index: 1000;
  }

  .mobile-bottom-nav .bottom-nav-link {
    display: flex;
    flex-direction: column;
  }

  .mobile-bottom-nav .bottom-nav-item.active {
    border-top: 3px solid #3968c6;
  }

  .mobile-bottom-nav .bottom-nav-item.active a {
    color: #3968c6;
  }
  .mobile-bottom-nav .bottom-nav-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
